doctype 5
html
  head
    script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.10/d3.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.13-beta/nv.d3.min.js")

  body
    style.
      .chart svg {
        height: 400px;
      }
    .chart#chart-local
      svg
    .chart#chart-cloud
      svg

  script(src="/js/a.js")

