extends layout

block append content
  h1= title
  p Welcome to #{title}
  input.create-box.span2(placeholder="key")
  input.create-box.span2.offset2(placeholder="value")
  a.btn.btn-success CREATE
  br
  br
  input.read-box.span2(placeholder="key")
  a.btn.btn-info READ
  br
  br
  input.update-box.span2(placeholder="key")
  input.update-box.span2(placeholder="value")
  a.btn.btn-warning UPDATE
  br
  br
  input.delete-box.span2(placeholder="key")
  a.btn.btn-danger DELETE

block append scripts
  script(src="/js/app2.js")